In [1]:
import pandas as pd

In [2]:
genes_of_interest = pd.read_csv('melanoma_genes.txt', header=None)

In [3]:
genes_of_interest = genes_of_interest.values.tolist()

In [4]:
flat_genes = [item for sublist in genes_of_interest for item in sublist]

In [9]:
flat_genes

['AKT1',
 'AKT2',
 'AKT3',
 'ALK',
 'CDKN2A',
 'CDKN2B',
 'CCND1',
 'CCND2',
 'CCND3',
 'ERBB2',
 'KDR',
 'CDK4',
 'CDK6',
 'BRAF',
 'MET',
 'FGFR1',
 'FGFR2',
 'FGFR3',
 'PTEN',
 'NF1',
 'BAP1',
 'EGFR',
 'BRCA2',
 'BRCA1',
 'KIT',
 'TP53',
 'JAK1',
 'JAK2',
 'B2M',
 'MITF',
 'MAP2K1']

In [10]:
gene_coordinates = pd.read_csv('ensembl_hg19_genes.txt',sep='\t')

In [11]:
gene_coordinates.head()

,Chromosome/scaffold name,Gene start (bp),Gene end (bp),Gene name,Gene stable ID
0,HG991_PATCH,66119285,66465398,SLC25A26,ENSG00000261657
1,13,23551994,23552136,AL157931.1,ENSG00000223116
2,13,23708313,23708703,HMGA1P6,ENSG00000233440
3,13,23726725,23726825,RNY3P4,ENSG00000207157
4,13,23743974,23744736,LINC00362,ENSG00000229483

In [12]:
desired_gene_coordinates = gene_coordinates[gene_coordinates['Gene name'].isin(flat_genes)]

In [15]:
desired_gene_coordinates

,Chromosome/scaffold name,Gene start (bp),Gene end (bp),Gene name,Gene stable ID
5537,9,4985033,5128183,JAK2,ENSG00000096968
9638,8,38268656,38326352,FGFR1,ENSG00000077782
20588,19,40736224,40791443,AKT2,ENSG00000105221
22978,2,29415640,30144432,ALK,ENSG00000171094
27720,7,140419127,140624564,BRAF,ENSG00000157764
28454,13,32889611,32973805,BRCA2,ENSG00000139618
30340,10,123237848,123357972,FGFR2,ENSG00000066468
32082,15,66679155,66784650,MAP2K1,ENSG00000169032
32539,17,37844167,37886679,ERBB2,ENSG00000141736
34196,9,21967751,21995300,CDKN2A,ENSG00000147889
34398,9,22002902,22009362,CDKN2B,ENSG00000147883
35955,10,89622870,89731687,PTEN,ENSG00000171862
36542,6,41902671,42018095,CCND3,ENSG00000112576
43380,7,116312444,116438440,MET,ENSG00000105976
44085,3,69788586,70017488,MITF,ENSG00000187098
45853,11,69455855,69469242,CCND1,ENSG00000110092
46048,4,1795034,1810599,FGFR3,ENSG00000068078
46135,1,65298912,65432187,JAK1,ENSG00000162434
47019,15,45003675,45011075,B2M,ENSG00000166710
49064,3,52435029,52444366,BAP1,ENSG00000163930
51161,17,29421945,29709134,NF1,ENSG00000196712
51544,12,58141510,58149796,CDK4,ENSG00000135446
53058,1,243651535,244014381,AKT3,ENSG00000117020
55276,4,55524085,55606881,KIT,ENSG00000157404
55480,4,55944644,55991756,KDR,ENSG00000128052
56314,7,92234235,92465908,CDK6,ENSG00000105810
56316,17,41196312,41277500,BRCA1,ENSG00000012048
56482,7,55086714,55324313,EGFR,ENSG00000146648
56606,12,4382938,4414516,CCND2,ENSG00000118971
56974,14,105235686,105262088,AKT1,ENSG00000142208
60483,17,7565097,7590856,TP53,ENSG00000141510

In [16]:
len(flat_genes)

31

Genes that are not found on the reference

In [17]:
set(flat_genes) - set(desired_gene_coordinates['Gene name'].tolist())

set()

In [18]:
desired_gene_coordinates.shape

(31, 5)

In [19]:
desired_gene_coordinates.head()

,Chromosome/scaffold name,Gene start (bp),Gene end (bp),Gene name,Gene stable ID
5537,9,4985033,5128183,JAK2,ENSG00000096968
9638,8,38268656,38326352,FGFR1,ENSG00000077782
20588,19,40736224,40791443,AKT2,ENSG00000105221
22978,2,29415640,30144432,ALK,ENSG00000171094
27720,7,140419127,140624564,BRAF,ENSG00000157764

In [20]:
desired_gene_coordinates.to_csv('melanoma_gene_coordinates.tsv', sep='\t')