In [1]:
import pandas as pd

In [2]:
genes_of_interest = pd.read_csv('ovarian_genes.txt', header=None)

In [3]:
genes_of_interest = genes_of_interest.values.tolist()

In [4]:
flat_genes = [item for sublist in genes_of_interest for item in sublist]

In [5]:
flat_genes

['AKT1',
 'AKT3',
 'ARID1A',
 'ARID4B',
 'ATM',
 'ATR',
 'BARD1',
 'BCHE',
 'BCL2L1',
 'BRAF',
 'BRCA1',
 'BRCA2',
 'CASP8',
 'CCND1',
 'CCND2',
 'CCNE1',
 'CDK4',
 'CDKN2A',
 'CHEK1',
 'CHEK2',
 'CTCF',
 'EGFR',
 'EIF5A2',
 'EPHA3',
 'ERBB2',
 'ERBB3',
 'ESR1',
 'ESR2',
 'FGFR1',
 'FGFR2',
 'FGFR3',
 'FGFR4',
 'FN1',
 'HES1',
 'HEY1',
 'HRAS',
 'KDM5A',
 'KIT',
 'KRAS',
 'LYN',
 'MAP2K4',
 'MAP3K11',
 'MAPK12',
 'MECOM',
 'MET',
 'MUC16',
 'MYC',
 'NCOR1',
 'NF1',
 'NF2',
 'NOTCH3',
 'NRARP',
 'NRAS',
 'PDGFRA',
 'PIK3CA',
 'PIK3R1',
 'PPP2R1A',
 'PRKCI',
 'PRKCI',
 'PTEN',
 'RAB25',
 'RAD51C',
 'RB1',
 'SERPINI1',
 'SPARC',
 'TERC',
 'TP53',
 'WFDC2']

In [6]:
gene_coordinates = pd.read_csv('ensembl_hg19_genes.txt',sep='\t')

In [7]:
gene_coordinates.head()

,Chromosome/scaffold name,Gene start (bp),Gene end (bp),Gene name,Gene stable ID
0,HG991_PATCH,66119285,66465398,SLC25A26,ENSG00000261657
1,13,23551994,23552136,AL157931.1,ENSG00000223116
2,13,23708313,23708703,HMGA1P6,ENSG00000233440
3,13,23726725,23726825,RNY3P4,ENSG00000207157
4,13,23743974,23744736,LINC00362,ENSG00000229483

In [8]:
desired_gene_coordinates = gene_coordinates[gene_coordinates['Gene name'].isin(flat_genes)]

In [9]:
len(flat_genes)

68

Genes that are not found on the reference

In [10]:
set(flat_genes) - set(desired_gene_coordinates['Gene name'].tolist())

set()

In [11]:
desired_gene_coordinates.shape

(67, 5)

In [12]:
desired_gene_coordinates.head()

,Chromosome/scaffold name,Gene start (bp),Gene end (bp),Gene name,Gene stable ID
7426,11,65365226,65382853,MAP3K11,ENSG00000173327
8160,11,532242,537287,HRAS,ENSG00000174775
9565,3,169482308,169482848,TERC,ENSG00000270141
9638,8,38268656,38326352,FGFR1,ENSG00000077782
24034,22,29083731,29138410,CHEK2,ENSG00000183765

In [13]:
desired_gene_coordinates.to_csv('ovarian_gene_coordinates.tsv', sep='\t')