In [1]:
import pandas as pd

In [2]:
genes_of_interest = pd.read_csv('melanoma_genes.txt', header=None)

In [3]:
genes_of_interest = genes_of_interest.values.tolist()

In [4]:
flat_genes = [item for sublist in genes_of_interest for item in sublist]

In [5]:
flat_genes

['AKT1',
 'AKT2',
 'AKT3',
 'ALK',
 'CDKN2A',
 'CDKN2B',
 'CCND1',
 'CCND2',
 'CCND3',
 'ERBB2',
 'KDR',
 'CDK4',
 'CDK6',
 'BRAF',
 'MET',
 'FGFR1',
 'FGFR2',
 'FGFR3',
 'PTEN',
 'NF1',
 'BAP1',
 'EGFR',
 'BRCA2',
 'BRCA1',
 'KIT',
 'TP53',
 'JAK1',
 'JAK2',
 'B2M']

In [6]:
gene_coordinates = pd.read_csv('ensembl_hg19_genes.txt',sep='\t')

In [7]:
gene_coordinates.head()

,Chromosome/scaffold name,Gene start (bp),Gene end (bp),Gene name,Gene stable ID
0,HG991_PATCH,66119285,66465398,SLC25A26,ENSG00000261657
1,13,23551994,23552136,AL157931.1,ENSG00000223116
2,13,23708313,23708703,HMGA1P6,ENSG00000233440
3,13,23726725,23726825,RNY3P4,ENSG00000207157
4,13,23743974,23744736,LINC00362,ENSG00000229483

In [8]:
desired_gene_coordinates = gene_coordinates[gene_coordinates['Gene name'].isin(flat_genes)]

In [9]:
len(flat_genes)

29

Genes that are not found on the reference

In [10]:
set(flat_genes) - set(desired_gene_coordinates['Gene name'].tolist())

set()

In [11]:
desired_gene_coordinates.shape

(29, 5)

In [13]:
desired_gene_coordinates.head()

,Chromosome/scaffold name,Gene start (bp),Gene end (bp),Gene name,Gene stable ID
5537,9,4985033,5128183,JAK2,ENSG00000096968
9638,8,38268656,38326352,FGFR1,ENSG00000077782
20588,19,40736224,40791443,AKT2,ENSG00000105221
22978,2,29415640,30144432,ALK,ENSG00000171094
27720,7,140419127,140624564,BRAF,ENSG00000157764

In [15]:
desired_gene_coordinates.to_csv('melanoma_gene_coordinates.tsv', sep='\t')